b, strong { font-weight: bold; }

.nav_brand { font-weight: bold; text-transform: uppercase;
  img { width: 36px; }
}
.nav_header { box-shadow: 0 2px 20px #33333388; }

.footer { color: var(--light); background: dimgrey; }

.post_meta { display: block; }
