b, strong { font-weight: bold; }
a:hover { text-decoration: underline; }

p { margin: 0.8rem 0; padding: 0; }

h2, h3, h4, h5 { margin-bottom: 5px; }
h3 { font-size: 125%; }

hr { background-color: #ccc; }

button { padding: 0.25em 0.5em; border-radius: 0.5em; }
html[data-mode="dim"] button:hover { color: var(--dark); background-color: var(--haze); }

input[type=checkbox] { margin: 0 0.25em; }

.nav_brand { font-weight: bold; text-transform: uppercase;
  img { width: 36px; }
}
.nav_header {
  box-shadow: 0 2px 20px #33333388;
  box-sizing: border-box;   // Some weird thing. Needed for the mobile menu to work.
}

.footer { color: var(--light); background: dimgrey;
  .section { padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px dotted white; }
  .icon { margin: 0; }
  a { text-decoration: underline; }
}

.content {  padding-top: 3em; }

.post_meta { display: block; }

.comments {
  display: inline-block;
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px dashed var(--dark);
}
html[data-mode="dim"] .comments { border-top-color: var(--light); }

// .scrollable triggers some weird firefox bug. Change it to something more conventional
.scrollable { display: block; }

img[alt*="screenshot"] { box-shadow: 0 0 10px #88888888; }
a img { max-width: 100%; } // Avoid .image-scalable trick in theme

.post_content ul ul { padding-top: 0; padding-bottom: 0; }

.post_link { margin-top: 0; }
.excerpt_thumbnail img { margin-top: 0; }
.excerpt_text {
  p:first-of-type { padding-top: 0; }
  margin-bottom: 0.8rem;
}
.excerpt_footer { padding-bottom: 1rem; }

.location { padding: 1rem; }


/***********************************************************
* css named colours picker                                 *
************************************************************/

.css-named-colours-picker {
  .presets button { margin-bottom: 0.5em; margin-right: 0.25em; }
  .newline:after { display: block; content: ''; }
  .spacer:after { display: inline-block; content: ' '; width: 1em; }
  .reset-table { font-weight: bold; }

  .other-colour { width: 5em; }

  table { margin: 1em 0 0; }
  th, td { padding: 0.25em; }

  td { text-align: right; }
  th.column-label, td.column-label { text-align: left; }

  .column-label input { width: 10em; }

  .column-h, .column-r { border-left: 2px solid darkgrey; }
  .rendered-colour { padding: 0.25em 1em; text-align: center; }

  .column-hex { text-transform: uppercase; }

  .number-range-filter-widget input { width: 2.5em; }
  .number-range-filter-widget input:first-of-type { margin-right: 0.5em; }
  .number-range-filter-widget input:last-of-type { margin-left: 0.5em; }

  td button { padding: 2px; margin-left: 0.25em; border-width: 1px; border-radius: 5px; }
  td button svg { height: 1em; opacity: 0.67; }
}
