<form
action="https://buttondown.email/api/emails/embed-subscribe/bengtan"
method="post"
target="popupwindow"
onsubmit="window.open('https://buttondown.email/bengtan', 'popupwindow')"
class="embeddable-buttondown-form"
>
  <label><input type="checkbox" name="tag" value="interesting-things" /> Subscribe to <strong>Interesting Things</strong> newsletter</label><br />
  <label><input type="checkbox" name="tag" value="blog" /> Subscribe to blog posts</label><br />
  <label><input type="checkbox" name="tag" value="nop" /> I'm not a human. Don't send me anything</label><br />

  <input type="email" name="email" id="bd-email" placeholder="Enter your email address" />
  <input type="hidden" value="1" name="embed" />
  <input type="submit" value="Subscribe" />
</form>
